In [4]:
import pandas as pd
import numpy as np
import sklearn as sk
import seaborn as sns

In [5]:
df = pd.read_csv("advertising.csv")

In [6]:
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [17]:
y=df.loc[0:,'Sales']

In [20]:
check_null = pd.isnull(df['TV'])

In [21]:
check_null

0      False
1      False
2      False
3      False
4      False
       ...
195    False
196    False
197    False
198    False
199    False
Name: TV, Length: 200, dtype: bool